/*
 * Authlab Adminer Theme
 * @author: Jewel
 * @authorUrl: https://authlab.io
 * Forked from Main Theme by Pepa Linha [http://webdream.cz]
 * 
 */

 html,
 body {
     height: 100%;
 }
 
 body {
     font-family: "Segoe UI", Arial, sans-serif;
 }
 
 h1 {
     margin: 0;
     padding: 0;
     background: none;
     border: 0;
 }
 
 h2 {
     margin: 0;
     padding: 0;
     background: none;
     border: 0;
     font-family: "Segoe UI Light", "Segoe UI", Arial, sans-serif;
     font-size: 32px;
     font-weight: normal;
     color: #34567c;
     border-bottom: 1px solid #ebebeb;
     padding-bottom: 6px;
     margin-bottom: 40px;
 }
 
 .rtl h2 {
     margin: 0;
     margin-bottom: 40px;
 }
 
 h3 {
     font-size: 22px;
     margin: 0 0 10px;
     border-bottom: 1px solid #ebebeb;
     padding: 0;
     padding-bottom: 6px;
 }
 
 p {
     margin: 0;
     margin-bottom: 15px;
 }
 
 a {
     color:#2e84e4;
     text-decoration:none;
 }
 
 a:visited {
     color: #34567c;
 }
 
 a:link:hover,
 a:visited:hover {
     color: #2e84e4;
     text-decoration:underline;
 }
 
 /* otravuje pri prochazeni formulare klavesama */
 a[href*=charsets] {
     display: none;
 }
 
 table {
     border: 0;
     margin: 0;
     margin-top: 15px;
 }
 
 th, td {
     border: 0;
     padding: 6px;
 }
 
 th {
     background: none;
     color: #34567c;
     font-weight: normal;
 }
 
 tbody tr:hover td,
 tbody tr:hover th {
     background: none;
 }
 
 table:not(.checkable) th {
     min-width: 120px;
 }
 
 thead td,
 thead th {
     background: #34567c;
 }
 
 thead td,
 thead td a,
 thead td a:link:hover,
 thead td a:visited,
 thead td a:visited:hover,
 thead th,
 thead th a,
 thead th a:link:hover,
 thead th a:visited,
 thead th a:visited:hover {
     color: #fff;
 }
 
 table.checkable,
 p.links + table,
 pre + table,
 #edit-fields,
 p + table,
 h3 + table {
     border: 1px solid #bbb;
     margin-bottom: 15px;
 }
 
 table.checkable tbody tr:hover td,
 table.checkable tbody tr:hover th {
     background: #ffffd9;
 }
 
 .js .checkable .checked td,
 .js .checkable .checked th {
     background: #fbfabc;
 }
 
 .js .checkable thead .checked td,
 .js .checkable thead .checked th {
     background: #bfb008;
 }
 
 .odd th,
 .odd td {
     background: #f5f5f5;
 }
 
 fieldset {
     display: inline-block;
     padding: 7px 12px;
     margin: 0;
     border: 0;
     background: #f5f5f5;
 }
 
 fieldset select {
     margin-right: 5px;
 }
 
 fieldset input[type=button],
 fieldset input[type=submit],
 fieldset p {
     margin-bottom: 0;
 }
 
 fieldset div p {
     margin-top: 10px;
 }
 
 legend {
     /*display: inline-block;*/
     padding: 0 12px;
     margin: 0 0 0 -12px;
     background: #f5f5f5;
     font-family: "Segoe UI Semibold", "Segoe UI", Arial, sans-serif;
     width: 100%;
 }
 
 legend a,
 legend a:link:hover {
     color: #000;
     text-decoration: underline;
 }
 
 code {
     background: #f5f5f5;
 }
 
 p code,
 pre code,
 pre[contenteditable=true] {
     padding: 10px;
     font-size: 14.4px;
     margin-top: 15px;
     display: inline-block;
     margin-bottom: 0;
 }
 
 p code + a,
 p code + a:link:hover,
 p code + a:visited:hover {
     margin-left: 15px;
     position: relative;
     top: -20px;
     color: #000;
     font-size: 12px;
     text-decoration: underline;
     text-transform: lowercase;
 }
 
 #content {
     margin: 0;
     margin-left: 280px;
     margin-right: 54px;
     padding: 0;
     padding-top: 50px;
 }
 
 #content > p {
     margin-bottom: 15px;
 }
 
 .rtl #content {
     margin: 0;
     margin-left: 54px;
     margin-right: 200px;
     padding: 0;
     padding-top: 50px;
 }
 
 #menu {
     width: 250px;
     border-right: 1px solid #dae8fa;
     box-shadow: inset -1px 0 0 #fff;
     margin: 0;
     padding: 0;
     top: 0;
     background: #f4f8fd;
     bottom: 0;
     position: fixed;
     padding: 0 15px;
     box-sizing: border-box;
     z-index: 2002;
 }
 
 #menu h1 {
     background: none left top no-repeat;
     background-image: url(authlab_logo.png);
     line-height: 10px;
     padding-left: 50px;
     padding-top: 9px;
     text-transform: lowercase;
     margin: 5px 0 5px 70px;
     background-size: contain;
     text-indent: -9999999px;
     max-width: 50px;
 }
 
 #menu h1 a {
     font-style: normal;
 }
 
 #menu h1 .version {
     color: #2e84e4;
 }
 
 #menu a {
     color: #34567c;
 }
 
 #menu p {
     border: 0;
     padding: 0;
 }
 
 #menu #dbs {
     padding: 0 15px 15px;
     border: 1px solid #dae8fa;
     border-bottom: 0;
     box-sizing: border-box;
     color: #f4f8fd;
 }
 
 #menu #dbs select {
     outline: 0;
     border-color: rgba(0, 0, 0, 0.1);
     width: 100%;
 }
 
 #menu p.links {
     margin: 0 0 10px;
     border: 1px solid #dae8fa;
     border-top: 0;
     text-align: center;
     display: block;
     width: 100%;
     box-sizing: border-box;
 }
 
 #menu p.links a {
     padding: 3px;
     margin: 0;
     display: inline-block;
     font-size: 12px;
     height: 18px;
     width: 18px;
     text-indent: -99999px;
 }
 
 #menu p.links a:hover {
     color: #2e84e4;
 }
 
 #menu p.links a.active {
     font-weight: normal;
     color: #000;
     border: 1px solid #A71D5D;
 }
 #tables a.active.select {
     border-right: none !important;
 }
 
 #tables a.select:hover {
     border-right: none !important;
 }
 
 #content p.links {
     margin: -10px 0 15px;
 }
 
 #content p.links a {
     padding: 8px;
     margin: 0;
     display: table-cell;
     border: 1px solid #fff;
 }
 
 #content p.links a,
 #content p.links a:visited,
 #content p.links a:hover {
     color: #2e84e4;
 }
 
 #content p.links a.active {
     font-weight: normal;
     border: 1px solid #2e84e4;
     background: #f4f8fd;
 }
 
 #tables {
     max-height: 100%;
     margin: 15px -15px !important;
     position: absolute;
     left: 15px;
     right: 15px;
     bottom: 0;
     top: 150px;
     overflow-y: auto !important;
     overflow-x: scroll !important; 
     border-bottom: 1px solid #dae8fa;
 }
 
 .rtl #tables {
     overflow: hidden !important;
     overflow-y: auto !important;
 }
 
 #tables a {
     float: left;
     padding: 6px 15px;
 }
 
 .rtl #tables a {
     float: none;
 }
 
 #tables a[title] {
     float: none;
     display: block;
     text-align: left;
 }
 
 .rtl #tables a:first-child,
 .rtl #tables br + a {
     float: left;
     display: block;
     margin-left: 15px;
 }
 
 #tables a:hover,
 #tables a:hover + a,
 #tables a.active,
 #tables a.active + a {
     background: #fff;
     color: #A71D5D;
     /*font-weight: bold;*/
     background: #34567c;
     color: #fff;
     /*color: #2e84e4;*/
     /*border: 1px solid #ff7374 !important;
     border-right: 1px solid #ff7374;*/
 }
 
 #tables a.active{
     font-weight: normal;
     border-right: none;
     border-right: none !important;
 }
 
 
 #tables br {
     display: none;
 }
 
 .js .column {
     background: #2e84e4;
 }
 
 .js .checked .column {
     background: #7b7105;
 }
 
 .pages {
     left: 400px;
     background: #34567c;
     color: #fff;
     font-weight: bold;
     border: 0;
     display: inline-block;
     position: static;
 }
 
 .pages a,
 .pages a:link,
 .pages a:link:hover,
 .pages a:visited,
 .pages a:visited:hover {
     color: #fff;
     font-weight: normal;
 }
 
 #breadcrumb {
     margin: 0;
     left: 280px;
     background: #f5f5f5;
     /*padding: 0;*/
     padding-top: 25px;
     font-size: 12px;
 }
 
 #breadcrumb a {
     color: #aeaeae;
     text-decoration: underline;
 }
 
 #breadcrumb,
 #breadcrumb a:hover {
     color: #666;
 }
 
 .rtl #breadcrumb {
     margin: 0;
     padding: 0;
     padding-top: 25px;
     right: 400px;
 }
 
 .logout,
 .rtl .logout {
     top: 30px;
     right: 54px;
     margin: 0;
 }
 
 .rtl .logout {
     right: auto;
     left: 54px;
 }
 
 input:not([type]),
 input[type="color"],
 input[type="email"],
 input[type="number"],
 input[type="password"],
 input[type="tel"],
 input[type="url"],
 input[type="text"],
 input[type="search"] {
     border: 1px solid #bbbbbb;
     padding: 6px;
     margin: 0;
     box-sizing: border-box;
 }
 
 table:not(#table) input:not([type]),
 table:not(#table) input[type="color"],
 table:not(#table) input[type="email"],
 table:not(#table) input[type="number"],
 table:not(#table) input[type="password"],
 table:not(#table) input[type="tel"],
 table:not(#table) input[type="url"],
 table:not(#table) input[type="text"],
 table:not(#table) input[type="search"] {
     min-width: 280px;
 }
 
 input[type=submit],
 input[type=button] {
     border: 0;
     padding: 7px 12px;
     cursor: pointer;
     outline: 0;
     box-shadow: none;
     background: #2e84e4;
     color: #fff;
     font-weight: bold;
     margin-bottom: 5px;
     transition: background .4s ease;
 }
 
 input[type=submit][disabled],
 input[type=button][disabled] {
     background: #aeaeae !important;
     color: #e9e9e9;
     cursor: not-allowed;
 }
 
 input[type=submit]:hover,
 input[type=button]:hover,
 input[type=submit]:focus,
 input[type=button]:focus {
     background: #34567c;
 }
 
 .logout input[type=submit] {
     background: #f40204;
 }
 
 .logout input[type=submit]:hover {
     background: #d50204;
 }
 
 input.default,
 input.default {
     box-shadow: none;
     background: #2e84e4;
     color: #fff;
     font-weight: bold;
 }
 
 select {
     box-sizing: border-box;
     margin: 0;
     padding: 6px 0;
     border: 1px solid #bbbbbb;
 }
 
 label {
     cursor: pointer;
     margin-right: 6px;
 }
 
 .error,
 .message {
     margin: 0;
     margin-bottom: 15px;
 }
 
 #logins a,
 #tables a,
 #tables span {
     background: none;
 }
 #tables a.select, #tables a.active {
     color: #A71D5D;
     color: #D68686;
     color: #87AE86;
     color: #C7BA18;
     color: #FED6AF;
     color: #B48EAD;
     color: #87D6D5;
 }
 
 #form > p {
     margin-bottom: 15px;
 }
 
 #schema .table {
     padding: 6px;
 }
 
 #schema .table a {
     display: block;
     margin: -6px;
     margin-bottom: 6px;
     padding: 6px;
     color: #fff;
     background: #34567c;
 }
 
 #schema .table br {
     display: none;
 }
 
 #schema .table span {
     display: block;
     margin-bottom: 1px solid #f5f5f5;
 }
 
 #lang {
     position: fixed;
     top: 55px;
     right: 100%;
     z-index: 10;
     margin-right: -331px;
     line-height: normal;
     padding: 0;
     left: auto;
     font-size: 0;
     display: none;
 }
 
 #lang select {
     font-size: 12px;
     padding: 0;
     text-align: right;
     border: 0;
     background: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     cursor: pointer;
     outline: 0;
 }
 
 #lang select option {
     text-align: right;
 }
 
 .rtl #lang {
     margin-right: 0;
     left: 100%;
     margin-left: -261px;
     right: auto;
 }
 
 .jush {
     color: #000;
 }
 
 .jush a {
     color: #3939f2;
 }
 
 .jush-sql a,
 .jush-sql_code a,
 .jush-sqlite a,
 .jush-pgsql a,
 .jush-mssql a,
 .jush-oracle a,
 .jush-simpledb a {
     font-weight: normal;
 }
 
 .jush-bac,
 .jush-php_bac,
 .jush-bra,
 .jush-mssql_bra,
 .jush-sqlite_quo {
     color: #009900;
 }
 
 .jush-php_quo,
 .jush-quo,
 .jush-quo_one,
 .jush-php_eot,
 .jush-apo,
 .jush-sql_apo,
 .jush-sqlite_apo,
 .jush-sql_quo,
 .jush-sql_eot {
     color: #ce7b00;
 }
 
 .jush-num,
 .jush-clr {
     color: #000;
 }
 
 @media print {
     .logout {
         display: none;
     }
     
     #breadcrumb {
         position: static;
     }
     
     #content {
         margin: 0;
     }
 }
 
 #tables a.select {
     background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHISURBVDjLpVPNK0RRFP+9D98syMwUspHkm9I0YkFZWBFKkZ0s7a3Ewh+ilChK7FgoZCJFKYlYKB8zk2+Z5t0P577He29kQU7dd+6575zf+d1zztWklPiPmOozt/U4SThjXIoyIQS4AJjSXO0lGGlvcXAm6Vzsz4xUhm0AIeX4QLig+C+ZpxbOG1wGhGYHr1zMUmZGWRgs0ha3PE1nX/8mWmdgWTzLB+DUYbhm9FfZ35IEyrhXA3VXJfPbsV8B9LQUIeUHYJ8ASobag1jcucNgW8g9W4reYSDi2YnnZDoDiwCokDANct6NwTB0LEdj0HRA/wxa2SN25JNBEdWluUhZ366gqmAaGvrCAXKOozccTGPgt8+vn8GYSGcgyTYp3dpBnBg42nbQPRBTo5bTvqYkmxL6AQhNTWQGBXY3B7BxlEBXozcW64dxRKoKUZBju+P06gl5WaaviMJBM3TNDlbypemIZgHYOnlwASsCmW7nHADGnBoQ3c76YmweJ9BR5zFYjsbRHwm4tmJg6PhWA7pCXXk+bu7fURHKweXtq/sWaksz7SC/CCGFrwtyZ3r+rCnFRZ7qr1qc6mLZj4f9OEyPL8lVpbX/PucPv5QPKHB1TdEAAAAASUVORK5CYII=") no-repeat scroll center bottom;
     clear:left;
     display:block;
     float:left;
     height:16px;
     margin-left: 8px;
     margin-right:8px;
     padding-top:1px;
     overflow:hidden;
     padding-left:16px;
     text-indent: -9999999px;
     text-decoration:none;
 }
 
 #menu .links a[href$="&sql="] {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHGSURBVHjaxFPNLkNREP5aB6WhaKLSVtKFiIUqK1sLT2DhTXgDL2FlxSOw8FOLRiyQWhDRiKSEhKQJou49P9fMnFsLsevCJCcz594z3/m+mTmJKIrQjSXRpXUNoGqbm39qcMbAkbyIvbVwYQhD3tIeWsOQ1+QVH86Xyz+JXJPIOb9iAI4ZpOMd/yN/vb/vAdiC93cP0El2dNA6z4RjYyW2MaPU0BB0u+0BOGGsVML49LSA3J+cYDCblb0l6jeHBwg/26isrOB0a8uzYBlBgKShgD8M53J4aTTQqFaRSCYl+WxnG83zcxTmKpKg+vtFu9W8NDQDMCXW+VivYyAzjKmlJahUSpiYUKPVbCKTz0sCGzOyOpBLzdcXlCMdDDIxO4vboyoyhQIKlYocLi0uIjczIyBcA98dYqx9NywxUEyDi/P29IyF1VU5dFeroS+dRnF+Xvajk5N0ayjx8tq6+FuSyiwUF4LRHi/reLg4o9ijs6xG9RjWGowUi/h4fcXexoa0L4oc0mNZuVgFzID09VKBnFXoUb7Pnb5zQrvVovpkZC4QzwfiN6QM1eBqdxcmnq6IAA395Mlz8eTxTZwg/pcl/v01fgswAESqYZbsIsnLAAAAAElFTkSuQmCC) no-repeat scroll center center;
 }
 
 #menu .links a[href$="&import="] {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gEJFDMETKEbQAAAAjZJREFUOMuVkjFoU2EUhc//3gsvptFCIdRHh2CrQ1AcmsUYHTKJDkJrFUdx6uJkpuLspCI4xaJLNik4SMGlOKgEdekQ0EEwFhJqCw+a16RJ//+/x0Heo6XN4B0v537nHLgKAKqNxXckSyTPPyu//IP/GFVtLL6f9INrKZXC791f3UvDysPP3tryjcHt7yTPkRQRaZL8KSKvRGRtbm7OxgCPZJ8kJtOnYaw99ZUfl8UQ5XK5kMlkQBI7OzuzURTNbmxs3Nne3v60srJyd2FhoQ0AztPLtflOv/22tdtCVo3hwvhFUATZbBaO48B1XUxMTCCfz6NUKmF6evqKtfZxnMABgOdXl+c7vTZ87wQUFcRyZOepqSmIyPWkAgA8+HCfFMG3rS8QEVCIvb09pFIpkES/30cYhmi325iZmYGI4BDgReW1Wl1d3apUKrler4coitBqtUASxhh0u10Mh0N4ngeSRwEAQBIk4bou0uk0PM+D53nQWsMYA/JfLRGBtfYoQEQSx/hIKQVrbbJzHGd0ghgQHxhj4LourLXQWkNrDdd1E81IQCy21iaAOEFcU2t9PEBEEvcYeDBZrNvf38ehPwAAay3CMEQul4Pv+4f/XSkEQYBisYhOpzMywb1Go/GmUCiM5fN5+L4PpRRIIggCRFGEZrOJ9fX1TWPMzQR+0Kler58RkUcicstxnPFMJgNjDMIwxGAw2DTG1K21T5aWlraOBRycWq120hhz1hgjWusf1Wp1eJzuL3uxkTGLHB98AAAAAElFTkSuQmCC) no-repeat scroll center center;
 }
 
 #menu .links a[href*="&dump="] {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJrSURBVHjajFPPaxNREP72V8ymTbGQbRB/IT0otdV6CcWTgqCoUFQQEXoSEQ/+AypK755E1KsULIpGgw1F9KC22lgstFgQLdoWhSab2PRHTNrs7nvObGhSsRa/ZXjv7c6b+eabWUVKiX9AJQuRRci2k+260N91VwgJIQSEV1mVnjf5axTjvCfFFn7hCcBlBzJNVRA0gAZTQ1ODgXC4gDtjV9AW2QNFUTA0/Q66kPLSqVg4shYF8vEdKQ7mln+i+/VVRM0oFpbmETLq/SS6J4R/OfHtHmV24XouHFo94REDAyE9hMZgBMkvT2GZFqxQE6by0/g4P74SoKLB2ZZzWA8ffqRQLBcxNTuFjRTwxpmbfad7Oo/rHhdN6B20/6JvaKyBCnODhqNbL+PRxHXUGXWINV5kl9TDrkQct/pnZKHkyPsDGcl4MJiWq5Ecsf84LxTL8nbyK2+Pke3XHWJAQkLXgMdDNjRNRTxlQ6UmakRD0vN8NEd7EBsFO6Impu1fzGCCrOSXwCro5HEiZiExnEVnrKlaypNhG4fba02aTC8ik1/ibZrM9RlIkkGnjH0jWWJQWRn8TpLI8fcZ6MSA1WrZFERx2eHPTEPqjksBqASDLh7ZZ+HlWA6H9tYyvhjNomNnI8Km7p8/f5+HGdB46/lJeOoYPHV8mbGy8gA59HngU74asNkKYKVzlQCuW9GA6B5si+DVeA4HWmsM4qksTnZY1TMz0NRauysaUAmt2+oxM1tCM6k8mS74WXjIdm8O+JdWg36oKgXqgnzb3TvRXvZEneN6YPNIFw7MY70W5haXnlUHbp3f+b/wW4ABAAtWTLcKdqLcAAAAAElFTkSuQmCC) no-repeat scroll center center;
 }
 
 #menu .links a[href$="&create="] {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIpSURBVDjLpZNPSFRRFMZ/749/Kt3IqFTSRoSMmrGIYTTbpEJtjBCCok1Em9JVG1dRC8FFEES5aGFEgRRZWq1iLKKxBiNqLDcltQgmHR9hY6LOu+feFm+YGVsZXbh8nHO53/nud8+xjDH8z3IB7r5avGgMZ8XoBq01okFpjYhGtEGJLtmCKINo/XbgVFPUBdDG9PVEq0P/UvnSvdlwQYFoHQIY/3obpRVKFL5W+OIXUVThrL91AN+XihKCwIeTu85sqPryqsJXUvRARAMwkshsiKB7fw25UgKVJwA40V7H/cl5jh+oL+RGk/P0xIqxl11dr8AXjTYG14HRNxkcx+ZhMoNlg52/ND6VAWMoc6F5+2Zy/l9PMIDrWByL1jI+tcDRaN06BaXxbDqLUnq9AqPBteHpuwUcJ0AIcgBXH93h+/wEyyuLrPk5cmv7gNY8gdIYYyhz4PDeWuIpj85IsS2ujQ2zJAk6DkZpqGnixcwYyU+PifUOX7Eh6DoAx7aIpzwA4imPeMrj+bTH+88PaNkZQWwhsrULsXxie9oAzgcESgUe2NAZCeE6AXZGQhwKh/Cyc5RZVXQ39wFwoeMmjXVhgMqiB8awe0cVP36u0Fi/iW9zvwuzkF3+xUz6Nal0gv6uWww+O02lUwGwmv8FM3l55EtLTvQWXwm+EkRpfNEoUZRXHCE5PUFbuJ0nH4cot1wSH14C3LA2Os6x3m2DwDmgGlgChpLX0/1/AIu8MA7WsWBMAAAAAElFTkSuQmCC) no-repeat scroll center center;
 }
 
 .size {
     width: 100px;
 }
 
 #tables a[class="active "][data-spanking='true'] {
     background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHISURBVDjLpVPNK0RRFP+9D98syMwUspHkm9I0YkFZWBFKkZ0s7a3Ewh+ilChK7FgoZCJFKYlYKB8zk2+Z5t0P577He29kQU7dd+6575zf+d1zztWklPiPmOozt/U4SThjXIoyIQS4AJjSXO0lGGlvcXAm6Vzsz4xUhm0AIeX4QLig+C+ZpxbOG1wGhGYHr1zMUmZGWRgs0ha3PE1nX/8mWmdgWTzLB+DUYbhm9FfZ35IEyrhXA3VXJfPbsV8B9LQUIeUHYJ8ASobag1jcucNgW8g9W4reYSDi2YnnZDoDiwCokDANct6NwTB0LEdj0HRA/wxa2SN25JNBEdWluUhZ366gqmAaGvrCAXKOozccTGPgt8+vn8GYSGcgyTYp3dpBnBg42nbQPRBTo5bTvqYkmxL6AQhNTWQGBXY3B7BxlEBXozcW64dxRKoKUZBju+P06gl5WaaviMJBM3TNDlbypemIZgHYOnlwASsCmW7nHADGnBoQ3c76YmweJ9BR5zFYjsbRHwm4tmJg6PhWA7pCXXk+bu7fURHKweXtq/sWaksz7SC/CCGFrwtyZ3r+rCnFRZ7qr1qc6mLZj4f9OEyPL8lVpbX/PucPv5QPKHB1TdEAAAAASUVORK5CYII=") no-repeat scroll center bottom;
     clear:left;
     display:block;
     float:left;
     height:16px;
     margin-left: 8px;
     margin-right:8px;
     padding-top:1px;
     overflow:hidden;
     padding-left:16px;
     text-indent: -9999999px;
     text-decoration:none;
 }
 
 #breadcrumb {
     padding-top: 5px;
 }
 
 .logout, .rtl .logout {
     top: 10px;
     right: 15px;
 }
 
 #content {
     padding-top: 35px;
 }
 
 h2 {
     font-size: 22px;
     margin-bottom: 20px;
 }
 
 .footer {
     background: white;
     border-top-width: 10px;
 }
 
 .footer div {
     padding-bottom: 0;
 }
 
 .loadmore {
     display: none;
 }
 
 .json {
     font-size: 12px !important;
 }
 
 .json-icon {
     margin-right: 5px;
 }
 